.bounty-card-div{
    width: 600px;
    min-height: 150px;
    height: fit-content;
    background: rgb(255, 213, 135);
    border-radius: 8px;
    margin-top: 40px;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.bounty-card-title-div{
    font-family: 'Work Sans', sans-serif;
    font-size: 23px;
    font-weight: 500;

}

.bounty-card-details{
    font-family: 'Work Sans', sans-serif;
    color: rgb(117, 116, 110);
}

.bounty-card-detail-container{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 400px;
}

.right-panel-bounty-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-family: 'Work Sans', sans-serif;

}

.bounty-price{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: right;
    margin-right: 20px;
}

.bounty-card-button{
    width: 120px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    background: #ff9c23;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.bounty-card-button:hover{
    cursor: pointer;

}