.dashboard-card-div{
    width: 600px;
    height: 400px;
    background: #ffd587;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}
/* HIIIIIIIIIII */
.dashboard-card-header-div{
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 10px;
    font-weight: 500;
    align-items: center;
}

.dashboard-card-content-div{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.dashboard-analytics-div{
    width: 140px;
    height: 300px;
    background: #ffbb3b;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-analytics-header-div{
    width: 100px;
    text-align: center;
}

.dashboard-analytics-data{
    font-size: 28px;
    margin-top: 10px;
}